/*
 * tbsui v1.0.0
 * author:dafeng.xdf@taobao.com
 * describe: include reset base button input select
 * Copyright 2013 Tmall
 */
/*reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px / 1.5 Verdana,tahoma, arial,"Microsoft YaHei",sans-serif;
    color: #333;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: none;
}
a {
    color: #2953a6;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000;
}
fieldset, img {
    border: 0;
}
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*base*/
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: \20 ;
    display:block;
    height:0;
    clear:both;
}
.inblock{
    display: inline-block;
}
.inblock{
    *display: inline;
}
.hidd-el{
    display: none!important;
}
.show-el{
    display: block!important;
}
/*buttons*/
.btn {
    border: none;
    background: #b51800;
    padding: 6px 20px;
    line-height: 27px;
    text-decoration: none;
    text-shadow: none;
    background: #b51800;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active{
    text-decoration: none;
    background: #cc1b00;
}
.btn.btn-submit{
    padding: 0px 4px!important;
    background-color: #999999;
}
.btn.btn-submit:hover,
.btn.btn-submit:focus,
.btn.btn-submit:active{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #999999;
    padding: 0px 3px!important;
}
.btn.btn-submit-hover{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #cccccc;
    padding: 0px 1px;
}
.btn.btn-primary-hover{
    background: #cc1b00;
}
.btn.btn-pale{
    color: #333333;
    border: 1px solid #999999;
    background: #ebebeb;
    padding: 5px 19px;
}
.btn.btn-pale:hover,
.btn.btn-pale:focus,
.btn.btn-pale:active{
    color: #333333;
    background: #ffffff;
    border: 1px solid #999999;
    padding: 5px 19px;
    text-decoration: none;
}
.btn.btn-pale-hover{
    color: #333333;
    background: #ffffff;
    border: 1px solid #999999;
    padding: 5px 19px;
}
/*input*/
textarea,
input {
    border: 1px solid #999999;
    color: #333333;
    height: 26px;
    font-size: 14px;
    text-indent: 6px;
    line-height: 26px;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
}
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
    background-color: #ebebeb;
    border-color: #cccccc;
    color: #999999;
    cursor: default;
}
/*select*/
.slct{
    display: none;
    cursor: pointer;
}
.slct-block{
    position: relative;
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    vertical-align: middle;
    float: none;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.slct-block .option{
    background: #ffffff;
    color: #333333;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    padding: 0 6px;
    float: left;
}
.slct-block .icon{
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    -webkit-backface-visibility: hidden;
    width: 15px;
    height: 22px;
    margin-right: 1px;
    background: url(http://img02.taobaocdn.com/tps/i2/T1IlXAFeRaXXc5CeHX-15-22.jpg) no-repeat;
    display: block;
    float: right;
    overflow: hidden;
}
.slct-block .menu{
    top:24px;
    z-index: 1000;
    min-width: 100px;
    color:#b51800;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    padding: 0 2px;
    display: none;
    position: absolute;
}
.slct-block .title{
    height: 22px;
    line-height: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    position: absolute;
}
.slct-block .title:hover{
    border: 1px solid #f5b785;
    cursor: pointer;
}
.slct-block ul li {
    padding: 0 12px;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    margin: 0;
}
.slct-block .selected,
.slct-block .hover{
    color:#ffffff;
    background-color:#b51800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/*step*/
.tbsui-step-bar{
    font-size:14px;
    line-height: 23px;
    color:#333333;
    width:100%;
    *zoom: 1;
}
.tbsui-step-bar:after,.tbsui-step-sh-bar:after{
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.tbsui-step-bar li{
    float:left;
    padding: 0 0 0 0;
    text-align: center;
    background-color:#ebebeb;
    position:relative;
    height:23px;
    text-indent:-15px;
    z-index:1;
    *zoom:1;
}
li.tbsui-step-start,li.tbsui-step-start-cur,li.tbsui-step-start-done,li.tbsui-step-end,li.tbsui-step-end-cur,.tbsui-step-bar li i{
    background-image:url("http://img04.taobaocdn.com/tps/i4/T1wBFBFlxaXXXVYvLb-15-188.png");
    background-repeat:no-repeat;
}
.tbsui-step-bar li i{
    display:block;
    width:15px;
    height:23px;
    position:absolute;
    top:0;
    left:-15px;
    background-position:0 0;
    z-index:2;
}
li.tbsui-step-start{
    background-position:-12px -69px;
}
li.tbsui-step-start-cur{
    background-position:-12px -92px;
}
li.tbsui-step-start-done{
    background-position:-12px -115px;
}

li.tbsui-step-start-cur,li.tbsui-step-cur,li.tbsui-step-end-cur{
    background-color:#b51800;
    color:#fff;
}
li.tbsui-step-cur i,li.tbsui-step-end-cur i{
    background-position:0 -23px;
}
li.tbsui-step-start-done,li.tbsui-step-done{
    background-color:#ebebeb;
}
li.tbsui-step-done i{
    background-position:0 -46px;
}
li.tbsui-step-end{
    background-position:right -138px;
}
li.tbsui-step-end-cur{
    background-position:right -161px;
}

.tbsui-step-2 li{
    width:50%;
}
.tbsui-step-3 li{
    width:33.33%;
}
.tbsui-step-4 li{
    width:25%;
    *width:24.9%;
}
.tbsui-step-5 li{
    width:20%;
}
.tbsui-step-6 li{
    width:16.66%;
}
.tbsui-step-7 li{
    width:14.26%;
}
.tbsui-shstep-bar li,
.tbsui-shstep-bar .tbsui-shstep-start-done .tbsui-shstep-status,
.tbsui-sh-step .tbsui-shstep-start-done .tbsui-shstep-status {
    background:url(http://img02.taobaocdn.com/tps/i2/T1iAbIXopiXXaa.SvG-34-531.png) 0 0 no-repeat;
}
.tbsui-sh-step,
.tbsui-shstep-2,
.tbsui-shstep-3,
.tbsui-shstep-4,
.tbsui-shstep-5 {
    background:#f7f8f8;
    padding:100px 80px;
}
.tbsui-shstep-bar {
    height:10px;
    background-color:#dcdcdc;
    _overflow:hidden;
}
.tbsui-shstep-bar li {
    float:left;
    position:relative;
    height:34px;
    margin-top:-12px;
    width:100%;
}
.tbsui-shstep-bar .tbsui-shstep-start,
.tbsui-shstep-bar .tbsui-shstep-start-error,
.tbsui-shstep-bar .tbsui-shstep-start-done {
    margin-left:0;
}
.tbsui-shstep-bar .tbsui-shstep-start-cur .tbsui-shstep-name,
.tbsui-shstep-bar .tbsui-shstep-end-cur .tbsui-shstep-name,
.tbsui-shstep-bar .tbsui-shstep-cur .tbsui-shstep-name{
    color:#008240;
}
.tbsui-shstep-bar .tbsui-shstep-start-error .tbsui-shstep-name,
.tbsui-shstep-bar .tbsui-shstep-error .tbsui-shstep-name,
.tbsui-shstep-bar .tbsui-shstep-end-error .tbsui-shstep-name
{
    color:#c20000;
}
.tbsui-shstep-bar .tbsui-shstep-error,
.tbsui-shstep-bar .tbsui-shstep-start-error{
    font-weight:700;
    color:#9b0001;
    background-position:0 -391px;
}
.tbsui-shstep-bar .tbsui-shstep-end-error {
    font-weight:700;
    background-position:0 -426px;
}
.tbsui-shstep-bar .tbsui-shstep-name {
    position:relative;
    float:left;
    top:-30px;
    margin-top:-30px;
    white-space:currap;
    font-size: 12px;
    color:#888888;
}
.tbsui-shstep-bar .tbsui-shstep-no {
    display:block;
    width:34px;
    height:34px;
    line-height:34px;
    text-align:center;
    color:#fff;
    font-size:16px;
    position:relative;
    z-index:2;
    font-family: 'Arial Black', Gadget, sans-serif;
}
.tbsui-shstep-bar .tbsui-shstep-done{
    background-position:0 -321px;
}
.tbsui-shstep-bar .tbsui-shstep-cur {
    background-position:0 -286px;
}
.tbsui-shstep-bar .tbsui-shstep-end-cur {
    background-position:0 -175px;
}
.tbsui-shstep-bar .tbsui-shstep-start-cur {
    background-position:0 -496px;
}
.tbsui-shstep-bar .tbsui-shstep-end-undone {
    background-position:0 -140px;
}
.tbsui-shstep-bar .tbsui-shstep-end-done {
    background-position:0 -356px;
}
.tbsui-shstep-bar .tbsui-shstep-start-error {
    background-position:0 -461px;
}
.tbsui-shstep-bar .tbsui-shstep-start-done {
    background-position:0 -105px;
}
.tbsui-shstep-bar .tbsui-shstep-done .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-start-done .tbsui-shstep-status{
    display:block;
    height:4px;
    background-color:#009150;
    margin-top:-19px;
    font-size:0;
    overflow:hidden;
}
.tbsui-shstep-bar .tbsui-shstep-start-cur .tbsui-shstep-status,
.tbsui-sh-step .tbsui-shstep-start-done .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-start-done .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-start-error .tbsui-shstep-status{
    padding-right:17px;
    margin-left:30px;
    background-position:right -210px;
}
.tbsui-shstep-bar .tbsui-shstep-done .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-start-done .tbsui-shstep-status {
    margin-left:30px;
    width:auto;
    padding:0;
}
.tbsui-shstep-bar .tbsui-shstep-start-cur .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-start-error .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-start-done .tbsui-shstep-status {
    margin-left:28px;
    padding-right:12px;
}
.tbsui-shstep-bar .tbsui-shstep-end-cur .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-end-undone .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-end-done .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-end-error .tbsui-shstep-status {
    margin-right:5px;
    padding:0;
}
.tbsui-shstep-2 .tbsui-shstep-start-done .tbsui-shstep-status,
.tbsui-shstep-2 .tbsui-shstep-start-cur .tbsui-shstep-status,
.tbsui-shstep-2 .tbsui-shstep-start-error .tbsui-shstep-status
{
    padding:0;
}
.tbsui-shstep-2 li {
    width:100%;
    margin-right:-34px;
}
.tbsui-shstep-3 li {
    width:49.99%;
    margin-left:-17px;
}
.tbsui-shstep-4 li {
    width:33.33%;
    margin-left:-12px;
}
.tbsui-shstep-5 li {
    width:25%;
    margin-left:-9px;
}
.tbsui-shstep-4 .tbsui-shstep-start-done,
.tbsui-shstep-5 .tbsui-shstep-start-done {
    padding-left:1px;
}
.tbsui-shstep-bar .tbsui-shstep-end-cur,
.tbsui-shstep-bar .tbsui-shstep-end-undone,
.tbsui-shstep-bar .tbsui-shstep-end-done,
.tbsui-shstep-bar .tbsui-shstep-end-error{
    width:34px;
    margin-left:-34px;
    margin-right:0;
    float:right;
}
.tbsui-shstep-bar .tbsui-shstep-end-cur .tbsui-shstep-name,
.tbsui-shstep-bar .tbsui-shstep-end-undone .tbsui-shstep-name,
.tbsui-shstep-bar .tbsui-shstep-end-done .tbsui-shstep-name,
.tbsui-shstep-bar .tbsui-shstep-end-error .tbsui-shstep-name{
    _position:absolute;
    _margin:0;
}
.tbsui-shstep-bar .tbsui-shstep-end-cur .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-end-error .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-end-undone .tbsui-shstep-status,
.tbsui-shstep-bar .tbsui-shstep-end-done .tbsui-shstep-status {
    _position:absolute;
    padding-left:5px;
}
.tbsui-shstep-panel {
    position: absolute;
    margin-top: 8px;
    left: -22px;
    text-align: center;
    color:#cbc8c1;
    font-weight: 300;
    font-size: 12px;
    width: 80px;
}
.tbsui-shstep-bar .tbsui-shstep-pop{
    position: absolute;
    width: 180px;
    height: 80px;
    border: 1px #cbc8c1 solid;
    border-right: 2px #cbc8c1 solid;
    border-bottom: 2px #cbc8c1 solid;
    margin-left: -50px;
    margin-top: 4px;
    background: #ffffff;
    text-align: left;
    padding-left:1px;
    color:#666666;
}
.tbsui-shstep-bar .tbsui-shstep-arrow{
    position: absolute;
    margin-top: -12px;
    margin-left: 77px;
    width: 22px;
    height: 12px;
    background:url(http://img03.taobaocdn.com/tps/i3/T1CDHHXelnXXXtIkza-22-12.png) no-repeat 0px 0px;
}
/*page*/

.tbsui-page{
    padding: 1em 0;
    overflow: hidden;
    clear: both;
}


.tbsui-page-wrap{
    color: #999999;
    font-size: 14px;
    font-weight: 700;
    float: right;
}

.tbsui-page-wrap a {
    font-weight: 100;
    float: left;
}

.tbsui-page-wrap a {
    color: #cccccc;
    cursor: pointer;
    float: left;
    text-decoration: none;
}
.tbsui-page-num,
.tbsui-page-skip{
    float: left;
    font-weight: normal;
}

.tbsui-page-prev,
.tbsui-page-next,
.tbsui-page-wrap a,
.tbsui-page-cur,
.tbsui-page-skip {
    height: 38px;
    width: auto;
    line-height: 38px;
    padding:0 14px;
}
.tbsui-page-wrap a,
.tbsui-page-prev{
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-left: 0;
    color: #ffffff;
}
.tbsui-page-next{
    background-color: #cccccc;
}
.tbsui-page-wrap .tbsui-page-prev{
    border-left: 1px solid #cccccc;
    color: #ffffff;
}

a.tbsui-page-next,
a.tbsui-page-prev {
    background-color: #cccccc;
}
.tbsui-page-break {
    border-right: 1px solid #cccccc;
    padding: 0 4px;
    line-height: 40px;
    font-weight: bold;
}

.tbsui-page-skip{
    padding: 0 1em;
    _padding-top:10px;
}
.tbsui-page-skipTo {
    width: 32px;
    height: 18px;
    margin: -2px 2px 0;
    line-height: 20px;
    font-size: 16px;
    color: #999;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.tbsui-page-skipBtn {

}
.tbsui-page-m{
    padding: 1em 0;
    overflow: hidden;
    clear: both;
}
.tbsui-page-m .tbsui-page-wrap,
.tbsui-page-m .tbsui-page-skipTo{
    font-size: 12px;
}

.tbsui-page-m .tbsui-page-break {
    line-height: 24px;
}
.tbsui-page-m .tbsui-page-skipTo,
.tbsui-page-m .tbsui-page-skipBtn{
    margin-top: 0;
}
.tbsui-page-m .tbsui-page-prev,
.tbsui-page-m .tbsui-page-next,
.tbsui-page-m .tbsui-page-wrap a,
.tbsui-page-m .tbsui-page-cur,
.tbsui-page-m .tbsui-page-skip {
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
}
a.tbsui-page-cur{
    background-color: #ffffff;
    color: #cccccc;
}
.tbsui-page-num a {

}
.tbsui-page-num a:hover {
    background-color: #ffffff;
    color: #cccccc;
    text-decoration: none;
}
.tbsui-page-s {
    height: 21px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

.tbsui-page-s-len,
.tbsui-page-s-prev,
.tbsui-page-s-next {
    float: left;
    display: inline;
    margin-left: 3px;
}

.tbsui-page-s-prev,
.tbsui-page-s-next {
    width: 19px;
    padding: 3px 0 3px;
    line-height: 1;
    font-size: 12px;
    text-align: center;
    height: 13px;
}

.tbsui-page-s a {
    text-decoration: none;
    color: #ffffff;
}
.tbsui-page-s a:hover {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #cccccc;
    width: 17px;
    height: 12px;
    padding: 2px 0 2px;
    text-decoration: none;
}

.tbsui-page-s a {
    background-color: #cccccc;
}

b.tbsui-page-s-len {
    background: none;
    line-height: 20px;
    font-weight: normal;
}
/*table*/
.tbsui-simtable{
    table-layout: fixed;
}
.tbsui-simtable th{
    background-color: #ebebeb;
    font-weight: 700;
}
.tbsui-simtable td,.tbsui-simtable th{
    padding: 5px;
    color: #333333;
}
.tbsui-simtable tr{
    border-bottom: 1px solid #ebebeb;
    color: #333333;
}
/* radio by huangj */
label.radoBox-label{
    display: inline-block;
    height:15px;
    line-height: 15px;
}
input.radoBox-cls{
    border: none;
    height: auto;
}

.radoBox-icons, .radio-checked, .radio-unchecked,
.raido-disabled-checked, .raido-disabled-unchecked,
.checkbox-checked, .checkbox-unchecked,
.checkbox-disabled-checked, .checkbox-disabled-unchecked{
    background:url('http://img03.taobaocdn.com/tps/i3/T1rv0nFb4hXXX8LVw8-120-75.png') no-repeat 0 0;
}
/* 只有添加选中状态才会显示 自定义图标 */
.radio-checked, .radio-unchecked,
.raido-disabled-checked, .raido-disabled-unchecked,
.checkbox-checked, .checkbox-unchecked,
.checkbox-disabled-checked, .checkbox-disabled-unchecked{
    display: inline-block;
}
span.radoBox-icons{
    width: 16px;
    height:100%;
}

/* radio 选中 未选中 */
.radio-checked{
    background-position: 0 -43px;
}
.radio-unchecked{
    background-position: -28px -43px;
}
.raido-disabled-checked{
    background-position: -56px -43px;
}
.raido-disabled-unchecked{
    background-position: -85px -43px;
}

/* checkbox */
.checkbox-checked{
    background-position: 0 -23px;
}
.checkbox-unchecked{
    background-position: -28px -23px;
}
.checkbox-disabled-checked{
    background-position: -56px -23px;
}
.checkbox-disabled-unchecked{
    background-position: -85px -23px;
}
/*鼠标手势*/
label, select, button, input[type="button"],
input[type="reset"], input[type="submit"],
input[type="radio"], input[type="checkbox"]{
    cursor: pointer;
}
.cursor-disabled, .cursor-disabled .radoBox-icons{
    cursor: default;
}



