/*
 * tbsui v1.0.0
 * author:dafeng.xdf@taobao.com
 * describe: include reset base button input select
 * Copyright 2013 Tmall
 */
/*reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px / 1.5 Verdana,tahoma, arial,"Microsoft YaHei",sans-serif;
    color: #333;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: none;
}
a {
    color: #2953a6;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000;
}
fieldset, img {
    border: 0;
}
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*base*/
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: \20 ;
    display:block;
    height:0;
    clear:both;
}
.inblock{
    display: inline-block;
}
.inblock{
    *display: inline;
}
/*buttons*/
.btn {
    border: none;
    background: #b51800;
    padding: 6px 20px;
    line-height: 27px;
    text-decoration: none;
    text-shadow: none;
    background: #b51800;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active{
    text-decoration: none;
    background: #cc1b00;
}
.btn.btn-primary-hover{
    background: #cc1b00;
}
.btn.btn-pale{
    color: #333333;
    border: 1px solid #999999;
    background: #ebebeb;
    padding: 5px 19px;
}
.btn.btn-pale:hover,
.btn.btn-pale:focus,
.btn.btn-pale:active{
    color: #333333;
    background: #ffffff;
    border: 1px solid #999999;
    padding: 5px 19px;
    text-decoration: none;
}
.btn.btn-pale-hover{
    color: #333333;
    background: #ffffff;
    border: 1px solid #999999;
    padding: 5px 19px;
}
/*input*/
textarea,
input {
    border: 1px solid #999999;
    color: #333333;
    height: 26px;
    font-size: 14px;
    text-indent: 6px;
    line-height: 26px;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
}
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
    background-color: #ebebeb;
    border-color: #cccccc;
    color: #999999;
    cursor: default;
}
/*select*/
.slct{
    display: none;
    cursor: pointer;
}
.slct-block{
    position: relative;
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    vertical-align: middle;
    float: none;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.slct-block .option{
    background: #ffffff;
    color: #333333;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    padding: 0 6px;
    float: left;
}
.slct-block .icon{
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    -webkit-backface-visibility: hidden;
    width: 15px;
    height: 22px;
    margin-right: 1px;
    background: url(http://img02.taobaocdn.com/tps/i2/T1IlXAFeRaXXc5CeHX-15-22.jpg) no-repeat;
    display: block;
    float: right;
}
.slct-block .menu{
    z-index: 1000;
    min-width: 100px;
    color:#b51800;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    padding: 0 2px;
    display: none;
}
.slct-block .title{
    height: 22px;
    line-height: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
.slct-block .title:hover{
    border: 1px solid #f5b785;
    cursor: pointer;
}
.slct-block ul li {
    padding: 0 12px;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    margin: 0;
}
.slct-block .selected,
.slct-block .hover{
    color:#ffffff;
    background-color:#b51800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/*step*/

